<a class="enquiry-panel-trigger" href="https://clubshop.macron.com/perth/kingsley-westside-junior-football-club">
    <span class="screen-reader-text">Enquiry form</span>
    <div class="label-swapper align-centre zoom" aria-hidden="true">
        <div class="label">
            <i class="icon contact" aria-hidden="true"></i>
            <span class="text">Enquire</span>
        </div>
    </div>
</a>