<button class="enquiry-panel-trigger">
    <span class="screen-reader-text">Enquiry form</span>
    <div class="label-swapper align-centre zoom" aria-hidden="true">
        <div class="label">
            <i class="icon contact" aria-hidden="true"></i>
            <span class="text">Enquire</span>
        </div>
        <div class="label">
            <i class="icon close" aria-hidden="true"></i>
            <span class="text">Close</span>
        </div>
    </div>
</button>