// Enquiry panel trigger
.enquiry-panel-trigger {
  align-items: center;
  background-color: transparent;
  background-color: var(--color-navy);
  block-size: 48px;
  border: 1px solid var(--color-white);
  border-radius: 0;
  color: var(--color-white);
  display: inline-flex;
  font-size: var(--font-size-body);
  font-weight: 700;
  inline-size: 48px;
  justify-content: center;
  letter-spacing: 0;
  margin: 0;
  min-inline-size: 48px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  @include transition(background, color, box-shadow);

  @include on-state(hover, focus) {
    background-color: var(--color-white);

    .label {
      .icon {
        &::before {
          color: var(--color-navy);
        }
      }
    }
  }

  // This button uses the label swapper - see global-elements.scss
  .label {
    .icon {
      display: block;

      @include breakpoint(lg) {
        display: none;
      }

      &.contact {
        &::before {
          @include pseudo-icon( e037, 20, var(--color-white) );
        }
      }

      &.close {
        padding: 3px;

        &::before {
          @include pseudo-icon( e016, 14, var(--color-white) );
        }
      }
    }

    .text {
      display: none;

      @include breakpoint(lg) {
        display: block;
      }
    }
  }
}

.site-tools {
  display: flex;
  gap: 8px;
}