flynt-component[name='NavigationFooter'] {
  font-size: var(--font-size-body-small);
  width: 100%;

  .container {
    padding-block: 0;
    text-align: center;
    flex-direction: column;

    @include breakpoint(0,$breakpoint-tablet) {
      margin: 0;
    }

    .logo {
      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }

    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-block: 0;
    }
  }

  .footer-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--flow-space);
    border-top: 1px solid var(--color-navy);
    border-bottom: 1px solid var(--color-navy);
    padding-block: 0;
    
    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      gap: 0;
    }

  }

  .footer-left {
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      width: 50%;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: var(--color-navy);
        width: 1px;
      }
    }
  }

  .content {
    margin-block: var(--flow-space) 0;
    margin-inline: 0;

    @media (min-width: $breakpoint-tablet) {
      margin: 0;
    }
  }

  .footer-bottom {
    margin-top: var(--flow-space);

    a {
      font-weight: 900;
      text-decoration: none;
      color: hsla(358, 75%, 64%, 1);
      @include transition(color);

      @include on-state(hover,focus) {
        color: var(--color-accent);
      }
    }
  }

  svg.mark {
    position: absolute;
    bottom: 0;

    &.right {
      right: 0;
      transform: rotate(270deg);
    }

    &.left {
      left: 0
    }
  }


  @import 'Partials/socialIcons';

  @import 'Partials/menu';
}
